@model IEnumerable<Sample.Models.ServiceRequest>

<div class="flex-container-fav">
    @if (!Model.Any())
    {
            <div>
                You do not have any customers right now.
            </div>
    }
    @foreach (var items in Model)
    {
        <script>

            var formDataforName = new FormData();
            formDataforName.append("providerID", @items.ServiceProviderId);
        formDataforName.append("customerID", @items.UserId);

        $.ajax({
            type: 'POST',
            url: '/spDashboard/CheckBlock',
            data: formDataforName,
            processData: false,
            contentType: false,
            dataType: "json"
        }).done(function (response) {
            if (response.status == "success") {
                var buttonblock = document.getElementById("blockButton");
                var buttonunblock = document.getElementById("unblockButton");
                buttonblock.style.display = "none";
                buttonunblock.style.display = "block";
            } else {
                var buttonblock = document.getElementById("blockButton");
                var buttonunblock = document.getElementById("unblockButton");
                buttonblock.style.display = "block";
                buttonunblock.style.display = "none";
            }
        });

        </script>
        <div class="flex-card-fav">
            <img src="~/images/avatar.png" alt="">
            <span>@items.User.FirstName  @items.User.LastName</span>
            <div style="display:flex;">
                <button id="blockButton" onclick="blockProvider('@items.ServiceProviderId','@items.UserId')">Block</button>
                <button id="unblockButton" onclick="unblockProvider('@items.ServiceProviderId','@items.UserId')">Unblock</button>
            </div>
        </div>
    }
    <script>
        function blockProvider(ProID, CustID) {
            showLoader();
            var formDataforRemove = new FormData();
            formDataforRemove.append("providerID", ProID);
            formDataforRemove.append("customerID", CustID);

            $.ajax({
                type: 'POST',
                url: '/spDashboard/BlockPro',
                data: formDataforRemove,
                processData: false,
                contentType: false,
                dataType: "json"
            }).done(function (response) {
                if (response.status == "success") {
                    hideLoader();
                    showMsg("User has been blocked.");
                    document.getElementById("blockButton").style.display = "none";
                    document.getElementById("unblockButton").style.display = "block";
                } else {
                    hideLoader();
                    showMsg("Something went wrong.");
                }
            });
        }

        function unblockProvider(ProID, CustID) {
            showLoader();
            var formDataforRemove = new FormData();
            formDataforRemove.append("providerID", ProID);
            formDataforRemove.append("customerID", CustID);

            $.ajax({
                type: 'POST',
                url: '/spDashboard/UnblockPro',
                data: formDataforRemove,
                processData: false,
                contentType: false,
                dataType: "json"
            }).done(function (response) {
                if (response.status == "success") {
                    hideLoader();
                    showMsg("User has been unblocked.");
                    document.getElementById("blockButton").style.display = "block";
                    document.getElementById("unblockButton").style.display = "none";
                } else {
                    hideLoader();
                    showMsg("Something went wrong.");
                }
            });
        }
    </script>
</div>