@{
    Layout = null;
}
@model List<UserAddress>
@foreach (var add in Model)
{
<div class="address-container">
    <div class="flex-display position-relative">
        <div>
            <input type="hidden" id="@add.AddressId" value="@add.AddressId">
            <label for="@add.AddressId">
                <div class="right-content">
                    <p><b>Address :</b> @add.AddressLine1 , @add.AddressLine2 , @add.City , @add.State</p>
                    <p><b>Phone Number :</b>@add.Mobile</p>
                </div>
            </label>
        </div>
        <div class="display-right">
            <a onclick="openEditAddress('@add.AddressId')">
                <img src="~/images/edit-icon.png" alt="">
            </a>
            <a onclick="deleteAddress('@add.AddressId')">
                <img src="~/images/delete-icon.png" alt="">
            </a>
        </div>
    </div>
</div>
}
<button class="submit-button-form" onclick="openAddAddress()">Add new address</button>