@using Microsoft.AspNetCore.Http;
@model Sample.Models.User

<script>
    window.addEventListener('load', (event) => {
        var allLI = document.getElementsByClassName("li-item");
        for (var i = 0; i < allLI.length; i++) {
            allLI[i].classList.remove("active-li");
        }
    });

    function openServiceHistory() {
        $("#right-container").html("Loading...").load('/customerDashboard/ServiceHistory');
        var allLI = document.getElementsByClassName("li-item");
        for (var i = 0; i < allLI.length; i++) {
            allLI[i].classList.remove("active-li");
        }
        var current = document.getElementById("ServiceHistoryLI");
        current.classList.add("active-li");
        var allMenuLI = document.getElementsByName("menuLi");
        for (var i = 0; i < allMenuLI.length; i++) {
            allMenuLI[i].classList.remove("active-li-menu");
        }
        var currentMenu = document.getElementById("serviceHistoryMenuLI");
        currentMenu.classList.add("active-li-menu");
    }

    function openDashboard() {
        $("#right-container").html("Loading...").load('/customerDashboard/CurrentService');
        var allLI = document.getElementsByClassName("li-item");
        for (var i = 0; i < allLI.length; i++) {
            allLI[i].classList.remove("active-li");
        }
        var current = document.getElementById("dashboardLI");
        current.classList.add("active-li");
        var allMenuLI = document.getElementsByName("menuLi");
        for (var i = 0; i < allMenuLI.length; i++) {
            allMenuLI[i].classList.remove("active-li-menu");
        }
        var currentMenu = document.getElementById("dashboardMenuLI");
        currentMenu.classList.add("active-li-menu");
    }

    function openServiceSchedule() {
        $("#right-container").html("Loading...").load('/customerDashboard/ServiceSchedule');
        var allLI = document.getElementsByClassName("li-item");
        for (var i = 0; i < allLI.length; i++) {
            allLI[i].classList.remove("active-li");
        }
        var current = document.getElementById("ServiceScheduleLI");
        current.classList.add("active-li");
        var allMenuLI = document.getElementsByName("menuLi");
        for (var i = 0; i < allMenuLI.length; i++) {
            allMenuLI[i].classList.remove("active-li-menu");
        }
        var currentMenu = document.getElementById("serviceScheduleMenuLI");
        currentMenu.classList.add("active-li-menu");
    }

    function openBookServicePage() {
        window.location.href = "/bookservice"
    }

    function openFavoritePro() {
        $("#right-container").html("Loading...").load('/customerDashboard/FavoritePro');
        var allLI = document.getElementsByClassName("li-item");
        for (var i = 0; i < allLI.length; i++) {
            allLI[i].classList.remove("active-li");
        }
        var current = document.getElementById("FavoriteProsLI");
        current.classList.add("active-li");
        var allMenuLI = document.getElementsByName("menuLi");
        for (var i = 0; i < allMenuLI.length; i++) {
            allMenuLI[i].classList.remove("active-li-menu");
        }
        var currentMenu = document.getElementById("favoriteProsMenuLI");
        currentMenu.classList.add("active-li-menu");
    }


</script>
<script src="~/js/sort.js"></script>

<div id="home"></div>
<div class="header-contain" id="header" style="background: rgba(39, 39, 39, .7);">
    <a class="logo" asp-controller="index">
        <img src="~/images/logo.png">
    </a>
    <div class="toggle" onclick="openMenu()" aria-expanded="false" id="buttonMenu">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <div class="navbar" id="mynav" data-visible="false">
        <ul id="header-nav">
            <li class="hidden"><a name="menuLi" id="notificationMenuLI">Notification</a></li>
            <li class="hidden"><a name="menuLi" id="accountMenuLI">Account</a></li>
            <li class="hidden"><a name="menuLi" onclick="openDashboard()" id="dashboardMenuLI">Dashboard</a></li>
            <li class="hidden"><a name="menuLi" onclick="openFavoritePro()" id="favoriteProsMenuLI">Favorite Pros</a></li>
            <li class="hidden"><a name="menuLi" id="serviceScheduleMenuLI">Service Schedule</a></li>
            <li class="hidden"><a name="menuLi" onclick="openServiceHistory()" id="serviceHistoryMenuLI">Service History</a></li>
            <li class="hidden"><a name="menuLi" id="invoiceMenuLI">Invoice</a></li>
            <li class="hidden"><a asp-controller="index" asp-action="logout">Logout</a></li>
            <li>
                <hr>
            </li>
            <li><a asp-controller="price">Prices & Service</a></li>
            <li><a href="#">Warranty</a></li>
            <li><a href="#">Blog</a></li>
            <li><a asp-controller="contact">Contact</a></li>
            <a><i class="fa fa-bell"></i><span class="icon-button__badge">2</span></a>
            <a onclick="openM()"><i class="far fa-user-circle"></i><i class="fas fa-angle-down"></i></a>
            <!-- <li class="flag">
                            <a href="#" class="flag-icon"><img src="~/images/flag.png">
                                <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                        </li> -->

        </ul>
        <li class="media-li"><a href="#"><i class="fa fa-facebook ups-icn" aria-hidden="true"></i></a></li>
        <li class="media-li"><a href="#"><i class="fa fa-instagram ups-icn" aria-hidden="true"></i></a></li>
    </div>
</div>

<div class="header-title-background">
    <h2>Welcome, <b>@Context.Session.GetString("UserFirstName") @Context.Session.GetString("UserLastName")!</b></h2>
</div>

<div class="openMenu" id="openMenu">
    <ul>
        <li>
            <p>Welcome,</p>
            <p><span>@Context.Session.GetString("UserFirstName") @Context.Session.GetString("UserLastName")</span></p>
        </li>
        <hr>
        <li>
            @if (@Context.Session.GetString("UserType") == "2")
            {
                <a asp-controller="spDashboard" asp-action="index">My Dashboard</a>
            }
            @if (@Context.Session.GetString("UserType") == "3")
            {
                <a asp-controller="customerDashboard" asp-action="index">My Dashboard</a>
            }
        </li>
        <li>
            @if (@Context.Session.GetString("UserType") == "2")
            {
                <a asp-controller="spDashboard" asp-action="setting">My Settings</a>
            }
            @if (@Context.Session.GetString("UserType") == "3")
            {
                <a asp-controller="customerDashboard" asp-action="setting">My Settings</a>
            }
        </li>
        <li><a asp-controller="index" asp-action="logout">Logout</a></li>
    </ul>
</div>

<div class="ToastBack-card Reschedule" id="AddAddressModel">
    <div class="card-table-tr-toast" style="margin: 40px auto;">
                <div class="addressBlock" id="newaddress" style="display: block;">
                    <div class="flex-child">
                        <label>Street Name</label>
                        <input type="text" id="streetName" placeholder="Street name">
                    </div>
                    <div class="flex-child">
                        <label>House Number</label>
                        <input type="text" id="houseNumber" placeholder="House number">
                    </div>
                    <div class="flex-child">
                        <label>Postal Code</label>
                        <input type="text" id="postalCode" placeholder="Postal code">
                    </div>
                    <div class="flex-child">
                        <label>City</label>
                        <select id="city">
                            <option value="Troisdrof">Troisdrof</option>
                        </select>
                    </div>
                    <div class="flex-child">
                        <label>Phone Number</label>
                        <div class="number-container">
                            <select id="">
                                <option value="+49">+49</option>
                                <option value="+49">+49</option>
                                <option value="+49">+49</option>
                            </select>
                            <input placeholder="Phone Number" id="phoneNumber">
                        </div>
                    </div>
                    <div class="flex-child-1">
                        <button id="submit" onclick="addAddress()">Save</button>
                        <button id="cancel" onclick="removeAddressModel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ToastBack-card Reschedule" id="UpdateAddressModel">
            <div class="card-table-tr-toast" style="margin: 40px auto;">
                <div class="addressBlock" id="newaddress" style="display: block;">
                    <div class="flex-child">
                        <label>Street Name</label>
                        <input type="text" id="streetNameUpdate" placeholder="Street Name">
                    </div>
                    <div class="flex-child">
                        <label>House Number</label>
                        <input type="text" id="houseNumberUpdate" placeholder="House number">
                    </div>
                    <div class="flex-child">
                        <label>Postal Code</label>
                        <input type="text" id="postalCodeUpdate" placeholder="Postal code">
                    </div>
                    <div class="flex-child">
                        <label>City</label>
                        <select id="citySelect">
                            <option value="Troisdrof">Troisdrof</option>
                        </select>
                    </div>
                    <div class="flex-child">
                        <label>Phone Number</label>
                        <div class="number-container">
                            <select id="">
                                <option value="+49">+49</option>
                                <option value="+49">+49</option>
                                <option value="+49">+49</option>
                            </select>
                            <input placeholder="Phone Number" id="phoneNumberUpdate">
                        </div>
                    </div>
                    <div class="flex-child-1">
                        <button id="submit" onclick="submitUpdatedAddress()">Save</button>
                        <button id="cancel" onclick="closeEditModel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div class="container m-tb">
                <div class="flex">

                    <div class="left">
                        <ul class="nav-lists">
                            <li class="li-item" id="dashboardLI"><a onclick="openDashboard()">Dashboard</a></li>
                            <li class="li-item active-li" id="ServiceHistoryLI"><a onclick="openServiceHistory()">Service History</a></li>
                            <li class="li-item" id="ServiceScheduleLI"><a onclick="openServiceSchedule()">Service Schedule</a></li>
                            <li class="li-item" id="FavoriteProsLI"><a onclick="openFavoritePro()">Favorite Pros</a></li>
                            <li class="li-item" id="InvoicesLI"><a>Invoices</a></li>
                            <li class="li-item" id="NotificationsLI"><a>Notifications</a></li>
                        </ul>
                    </div>
                    <div class="right table-scroll" id="right-container">

                        <div class="flex-container-fav form-tab">
                            <div class="flex-tab">
                                <a id="MyDetails" class="tab-button tb-active" onclick="openMyDetails()">My Details</a>
                                <a id="MyAddress" class="tab-button" onclick="openMyAddress()">My Addresses</a>
                                <a id="ChangePassword" class="tab-button" onclick="openMyChangePassword()">Change Password</a>
                            </div>
                            <div id="myDetailsTab">
                                <div class="flex-tab-form-container">
                                    <div class="container-form-input">
                                        <label>First name</label>
                                        <input type="text" id="firstName" value="@Model.FirstName">
                                    </div>
                                    <div class="container-form-input">
                                        <label>Last name</label>
                                        <input type="text" id="lastName" value="@Model.LastName">
                                    </div>
                                    <div class="container-form-input">
                                        <label>Email</label>
                                        <input type="text" id="email" value="@Model.Email" disabled>
                                    </div>
                                    <div class="container-form-input">
                                        <label>Mobile Number</label>
                                        <div class="input-wrapper">
                                            <select name="code" class="code">
                                                <option value="volvo">+49</option>
                                                <option value="saab">+99</option>
                                                <option value="mercedes">+14</option>
                                            </select>
                                            <input type="text" name="" pattern="[0-9]{10}" min="10" max="10" class="call" placeholder="Mobile number" id="mobileNumber" value="@Model.Mobile">
                                        </div>
                                    </div>
                                    <div class="container-form-input">
                                        <label>Date of Birth</label>
                                        <input type="date" value="@Model.DateOfBirth" id="dateOfBirth">
                                        <script>
                                            var date = new Date("@Model.DateOfBirth");
                                            var dd = String(date.getDate()).padStart(2, '0');
                                            var mm = String(date.getMonth() + 1).padStart(2, '0');
                                            var yyyy = date.getFullYear();
                                            var date1 = yyyy + '-' + mm + '-' + dd;
                                            document.getElementById("dateOfBirth").value = date1;
                                        </script>
                                    </div>
                                </div>
                                <hr>
                                <div class="flex-tab-form-container">
                                    <div class="container-form-input">
                                        <label>My Preferred Language</label>
                                        <select name="code" id="language">
                                            <option value="1">English</option>
                                            <option value="2">German</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="submit-button-form" onclick="saveMyDetails()">Save</button>
                            </div>
                            <div id="myAddressTab" class="display-none">
                            </div>
                            <div id="changePasswordTab" class="display-none">
                                <div class="flex-tab-form-container flex-direction">
                                    <span id="errorConfirmPassword" class="text-danger-error"></span>
                                    <div class="container-form-input">
                                        <label>Old Password</label>
                                        <input type="password" id="oldPassword" required>
                                    </div>
                                    <div class="container-form-input">
                                        <label>New Password</label>
                                        <input type="password" id="Password" required>
                                    </div>
                                    <div class="container-form-input">
                                        <label>Confirm Password</label>
                                        <input type="password" id="confirmPassword" required>
                                    </div>
                                    <button class="submit-button-form" onclick="changePassword()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer-one">
                <div class="container">
                    <div class="footer-before">
                        <div class="logo">
                            <img src="~/images/logo.png">
                        </div>
                        <div class="footer-navbar">
                            <ul id="footer-nav">
                                <li><a asp-controller="index">home</a></li>
                                <li><a asp-controller="about">about</a></li>
                                <li><a href="#">testimonial</a></li>
                                <li><a asp-controller="faq">faq</a></li>
                                <li><a href="#">insurance policy</a></li>
                                <li><a href="#">impressum</a></li>
                            </ul>
                        </div>
                        <div class="footer-social">
                            <ul class="socail-media">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <hr style="width:90%;text-align:center;border: 0.5px solid #424242;">
                <div class="copright">
                    <div class="footer-copyright">
                        <h6 style="text-align: center;">©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</h6>
                    </div>
                </div>
            </div>

        </footer>

        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }
        </script>

        <script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    @*document.getElementById("defaultOpen").click();*@

    var navList = document.getElementById("nav-lists");

    function Show() {
        navList.classList.add("_Menus-show");
    }

    function Hide() {
        navList.classList.remove("_Menus-show");
    }
        </script>

        <script>
            // $(document).ready(function() {
            //     $(".toggle").click(function() {
            //         $("#mynav").toggle();
            //     });
            // });

            var addressID;

            window.onscroll = function () {
                myFunction()
            };

            var header = document.getElementById("header");
            var sticky = "60";

            function myFunction() {
                console.log(window.pageYOffset);
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }

            function openMenu() {
                var popupLi = document.querySelector(".navbar");
                var menuButton = document.querySelector(".toggle");
                // popupLi.classList.toggle("show-menu");
                var visibility = popupLi.getAttribute("data-visible");
                console.log(visibility);
                if (visibility === "false") {
                    popupLi.setAttribute("data-visible", true);
                    menuButton.setAttribute("aria-expanded", true);
                    var body = document.getElementById('home');
                    body.classList.add("back");
                } else if (visibility === "true") {
                    popupLi.setAttribute("data-visible", false);
                    menuButton.setAttribute("aria-expanded", false);
                    var body = document.getElementById('home');
                    body.classList.remove("back");
                }
            }

            function openMyDetails() {
                var tabButtons = document.getElementsByClassName("tab-button");
                for (var i = 0; i < tabButtons.length; i++) {
                    tabButtons[i].classList.remove("tb-active");
                }
                var current = document.getElementById("MyDetails");
                current.classList.add("tb-active");
                document.getElementById("myDetailsTab").style.setProperty('display', 'block', 'important');
                document.getElementById("myAddressTab").style.setProperty('display', 'none', 'important');
                document.getElementById("changePasswordTab").style.setProperty('display', 'none', 'important');
            }
            function openMyAddress() {
                var tabButtons = document.getElementsByClassName("tab-button");
                for (var i = 0; i < tabButtons.length; i++) {
                    tabButtons[i].classList.remove("tb-active");
                }
                var current = document.getElementById("MyAddress");
                current.classList.add("tb-active");
                document.getElementById("myDetailsTab").style.setProperty('display', 'none', 'important');
                document.getElementById("myAddressTab").style.setProperty('display', 'block', 'important');
                document.getElementById("changePasswordTab").style.setProperty('display', 'none', 'important');
                $("#myAddressTab").html("Loading...").load('/customerDashboard/getaddress');
            }
            function openMyChangePassword() {
                var tabButtons = document.getElementsByClassName("tab-button");
                for (var i = 0; i < tabButtons.length; i++) {
                    tabButtons[i].classList.remove("tb-active");
                }
                var current = document.getElementById("ChangePassword");
                current.classList.add("tb-active");
                document.getElementById("myDetailsTab").style.setProperty('display', 'none', 'important');
                document.getElementById("myAddressTab").style.setProperty('display', 'none', 'important');
                document.getElementById("changePasswordTab").style.setProperty('display', 'block', 'important');
            }

            function openEditAddress(id) {
                addressID = id;
                document.getElementById("UpdateAddressModel").style.setProperty('display', 'block', 'important');
                var streetname = document.getElementById("streetNameUpdate");
                var housenumber = document.getElementById("houseNumberUpdate");
                var postalcode = document.getElementById("postalCodeUpdate");
                var phonenumber = document.getElementById("phoneNumberUpdate");

                var formData = new FormData();
                formData.append("addressID", addressID);

                $.ajax({
                    type: 'POST',
                    url: '/customerDashboard/fetchAddress',
                    data: formData,
                    processData: false,
                    contentType: false,
                }).done(function (response) {
                    console.log(response);
                    if (response.status == "success") {
                        var addressobj = response.addressObject;
                        streetname.value = addressobj.addressLine1;
                        housenumber.value = addressobj.addressLine2;
                        postalcode.value = addressobj.postalCode;
                        phonenumber.value = addressobj.mobile;
                    } else {
                        showMsg("Something went wrong.");
                    }
                });
            }

            function closeEditModel() {
                document.getElementById("UpdateAddressModel").style.setProperty('display', 'none', 'important');
            }

            function submitUpdatedAddress() {
                showLoader();
                var formData = new FormData();
                formData.append("addressID", addressID);
                formData.append("streetName", $("#streetNameUpdate").val());
                formData.append("houseNumber", $("#houseNumberUpdate").val());
                formData.append("postalCode", $("#postalCodeUpdate").val());
                formData.append("phoneNumber", $("#phoneNumberUpdate").val());

                $.ajax({
                    type: 'POST',
                    url: '/customerDashboard/updateAddress',
                    data: formData,
                    processData: false,
                    contentType: false,
                }).done(function (response) {
                    if (response.status == "success") {
                        hideLoader();
                        showMsg("Address updated.");
                        document.getElementById("UpdateAddressModel").style.setProperty('display', 'none', 'important');
                        openMyAddress();
                    } else {
                        hideLoader();
                        showMsg("Something went wrong.");
                    }
                });
            }

            function openAddAddress() {
                document.getElementById("AddAddressModel").style.setProperty('display', 'block', 'important');
            }

            function addAddress() {
                showLoader();
                var formData = new FormData();
                formData.append("add1", $("#streetName").val());
                formData.append("add2", $("#houseNumber").val());
                formData.append("pscode", $("#postalCode").val());
                formData.append("city", $("#city").val());
                formData.append("number", $("#phoneNumber").val());

                $.ajax({
                    type: 'POST',
                    url: '/customerDashboard/addaddress',
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: "json"
                }).done(function (response) {
                    if (response.status == "success") {
                        hideLoader();
                        showMsg("Address Added.");
                        document.getElementById("AddAddressModel").style.setProperty('display', 'none', 'important');
                        openMyAddress();
                    } else {
                        hideLoader();
                        showMsg("Something went wrong.");
                    }
                });
            }

            function removeAddressModel() {
                document.getElementById("AddAddressModel").style.setProperty('display', 'none', 'important');
            }

            function deleteAddress(id) {
                showLoader();
                addressID = id;

                var formData = new FormData();
                formData.append("addressID", addressID);

                $.ajax({
                    type: 'POST',
                    url: '/customerDashboard/deleteAddress',
                    data: formData,
                    processData: false,
                    contentType: false,
                }).done(function (response) {
                    if (response.status == "success") {
                        hideLoader();
                        showMsg("Address removed.");
                        openMyAddress();
                    } else {
                        hideLoader();
                        showMsg("Something went wrong.");
                    }
                });
            }

            function saveMyDetails() {
                showLoader();
                var formData = new FormData();
                formData.append("fname", $("#firstName").val());
                formData.append("lname", $("#lastName").val());
                formData.append("number", $("#mobileNumber").val());
                formData.append("dob", $("#dateOfBirth").val());
                formData.append("language", $("#language").val());

                console.log($("#dateOfBirth").val());

                if ($("#dateOfBirth").val() == "") {
                    hideLoader();
                    alert("DOB required");
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/customerDashboard/saveDetails',
                        data: formData,
                        processData: false,
                        contentType: false,
                        dataType: "json"
                    }).done(function (response) {
                        if (response.status == "success") {
                            hideLoader();
                            showMsg("User details are updated.");
                            openMyDetails();
                        } else {
                            hideLoader();
                            showMsg("Something went wrong.");
                        }
                    });
                }
            }

            function changePassword() {
                showLoader();
                var formData = new FormData();
                formData.append("oldpassword", $("#oldPassword").val());
                formData.append("password", $("#Password").val());

                if ($("#oldPassword").val() == $("#Password").val()) {
                    hideLoader();
                    document.getElementById("errorConfirmPassword").textContent = "Old password can not be same as new password.";
                }else if ($("#Password").val() == $("#confirmPassword").val()) {
                    $.ajax({
                        type: 'POST',
                        url: '/customerDashboard/changePassword',
                        data: formData,
                        processData: false,
                        contentType: false,
                        dataType: "json"
                    }).done(function (response) {
                        if (response.status == "success") {
                            hideLoader();
                            showMsg("Password changed successfully Login again with updated password.");
                            setTimeout(function () {
                                window.location.href = "/index/logout";
                                window.location.href = "/index/Login";
                            }, 1000);
                        } else if (response.status == "error") {
                            hideLoader();
                            document.getElementById("errorConfirmPassword").textContent = "Old password is incorrect.";
                            openMyChangePassword();
                        } else {
                            hideLoader();
                            showMsg("Something went wrong.");
                        }
                    });
                } else {
                    hideLoader();
                    document.getElementById("errorConfirmPassword").textContent = "Password and Confirm Password are not same.";
                }
            }
        </script>
