@using Microsoft.AspNetCore.Http;
@model Sample.Models.User
<div id="home"></div>
<div class="header-contain" id="header" style="background: rgba(39, 39, 39, .7);">
    <a class="logo" asp-controller="index">
        <img src="images/logo.png">
    </a>
    <div class="toggle" onclick="openMenu()" aria-expanded="false" id="buttonMenu">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <div class="navbar" id="mynav" data-visible="false">
        <ul id="header-nav">
            <li><a asp-controller="bookservice" class="Button">Book now</a></li>
            <li><a asp-controller="price">Prices</a></li>
            <li><a href="#">Our Guarantee</a></li>
            <li><a href="#">Blog</a></li>
            <li><a asp-controller="contact">Contact us</a></li>
            @if (@Context.Session.GetString("UserEmail") == null)
            {

                <li><a asp-controller="index" asp-action="Login" class="Button">Login</a></li>
                <li><a asp-controller="spsignup" class="Button">Become a helper</a></li>
            }
            else
            {
                <a><i class="fa fa-bell"></i><span class="icon-button__badge">2</span></a>
                <a onclick="openM()"><i class="far fa-user-circle"></i><i class="fas fa-angle-down"></i></a>
            }
            <!-- <li class="flag">
                    <a href="#" class="flag-icon"><img src="images/flag.png">
                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                </li> -->

        </ul>
        <li class="media-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="media-li"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </div>
</div>

<div class="openMenu" id="openMenu">
    <ul>
        <li>
            <p>Welcome,</p>
            <p><span>@Context.Session.GetString("UserFirstName") @Context.Session.GetString("UserLastName")</span></p>
        </li>
        <hr>
        <li>
            @if (@Context.Session.GetString("UserType") == "1")
            {
                <a asp-controller="adminDashboard">My Dashboard</a>
            }
            @if (@Context.Session.GetString("UserType") == "2")
            {
                <a asp-controller="spDashboard">My Dashboard</a>
            }
            @if (@Context.Session.GetString("UserType") == "3")
            {
                <a asp-controller="customerDashboard">My Dashboard</a>
            }

        </li>
        @if (@Context.Session.GetString("UserType") != "1")
        {
            <li>
                @if (@Context.Session.GetString("UserType") == "2")
                {
                    <a asp-controller="spDashboard" asp-action="setting">My Settings</a>
                }
                @if (@Context.Session.GetString("UserType") == "3")
                {
                    <a asp-controller="customerDashboard" asp-action="setting">My Settings</a>
                }
            </li>
        }
        <li><a asp-action="logout">Logout</a></li>
    </ul>
</div>

<div class="full-image faq-img">
    <img src="images/book-service-banner.jpg">
</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>You will save 20% according to §35a EStG</h2>
        <p>
            Our helpers help you with tax savings! Parts of the costs for household tasks recognize the tax office as a tax advantage. Assuming you are a private client, you have received an invoice and have not paid it in cash. You can deduct 20% of
            the expenses directly from your tax liability, a maximum of 4,000 euros per year.
        </p>
    </div>

</div>

<div id="myModal2" class="modal">

    <!-- Modal content -->
    <div class="modal-content" style="width: 30%;">
        <span class="close2" id="close2">&times;</span>
        <h2 style="margin-bottom: 15px;">Login to your account</h2>
            <span class="text-danger-error" id="formerror"></span>
            <div class="flex-login" id="flex-login">
                <input type="email" asp-for="Email" placeholder="Email" id="email">
                <span class="text-danger-error" id="emailerror"></span>
                <input type="password" asp-for="Password" placeholder="Password" id="password">
                <span class="text-danger-error" id="passworderror"></span>
                <div><input type="checkbox" name="Remember me">Remember me</div>
                <input type="submit" value="Login" class="submit-button" onclick="login()">
                <a asp-controller="index" asp-action="forget">Forget Password?</a>
                <div>Don't have an account?<a asp-controller="index" asp-action="registration">Create an account</a></div>
            </div>
    </div>

</div>

<div id="myModal1" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close1">&times;</span>
        <h2>Whar are included</h2>
        <div class="feature-wrapper">
            <div class="feature-box">
                <h3>Bedroom and livingromm</h3>
                <ul>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Dust all accessible surfaces</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Wipe down all mirrors and glass fixtures</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Clean all floor surfaces</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Take out garbage and recycling</span>
                    </li>
                </ul>
            </div>
            <div class="feature-box">
                <h3>Bathrooms</h3>
                <ul>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Wash and sanitize the toilet, shower, tub, sink</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Dust all accessible surfaces</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Wipe down all mirrors and glass fixtures</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Clean all floor surfaces</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Take out garbage and recycling</span>
                    </li>
                </ul>
            </div>
            <div class="feature-box">
                <h3>Kitchen</h3>
                <ul>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Dust all accessible surfaces</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Empty sink and load up dishwasher</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Wipe down exterior of stove, oven and fridge Clean all floor surfaces</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Clean all floor surfaces</span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/green-right.png" alt="">
                        </a><span>Take out garbage and recycling</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<section class="Faq section-padding">
    <div class="container-fluid">
        <div class="faq-wrapper">
            <div class="main-title bs">
                <h2>Set up your cleaning service</h2>
            </div>
            <div class="bookService">

                <div class="accordion-main">

                    <div class="tab-bookService">

                        <button id="servicetab" class="tablinks bookService-active setuptab arrow-dwn" onclick="opensetuptab()"> <img src="images/setup-service.png" alt="" name="img01"> Setup Service</button>
                        <button id="plantab" class="tablinks" onclick="openplantab()" disabled> <img src="images/schedule.png" alt="" name="img02"> Schedule & Plan</button>
                        <button id="detailstab" class="tablinks" onclick="opendetailstab()" disabled> <img src="images/details.png" alt="" name="img03"> Your Details</button>
                        <button id="paymenttab" class="tablinks" onclick="openpaymenttab()" disabled> <img src="images/payment.png" alt="" name="img04"> Make Payment</button>
                    </div>

                    <div class="faq-accordion">

                        <div class="setup tabcontent" id="setup">
                            <h3>Enter your Postal Code</h3>
                            <div class="flex-input">
                                <input type="text" name="" id="postalID" placeholder="Postal Code">
                                <span id="postalError"></span>
                                <button onclick="openplan()">Check Availibility</button>
                            </div>
                        </div>

                        <div class="plan tabcontent" id="plan">
                            <h3>Select number of rooms and bath</h3>
                            <select name="number-of-bath" id="number-of-bed">
                                <option value="1 bed">1 bed</option>
                                <option value="2 bed">2 bed</option>
                                <option value="3 bed">3 bed</option>
                            </select>
                            <select name="number-of-bath" id="number-of-bath">
                                <option value="1 bathroom">1 bathroom</option>
                                <option value="2 bathroom">2 bathroom</option>
                                <option value="3 bathroom">3 bathroom</option>
                            </select>
                            <hr>
                            <div class="flex-box">
                                <div>
                                    <h3>When do you need the cleaner?</h3>
                                    <div class="input-group-cal">
                                        <img src="images/calendar.png" alt=""><input type="date" name="" id="datePick">
                                    </div>
                                    <select name="number-of-bath" id="startTime">
                                        <option value="02:00 pm">02:00 PM</option>
                                        <option value="03:00 pm">03:00 PM</option>
                                        <option value="04:00 pm">04:00 PM</option>
                                        <option value="05:00 pm">05:00 PM</option>
                                        <option value="06:00 pm">06:00 PM</option>
                                        <option value="07:00 pm">07:00 PM</option>
                                        <option value="08:00 pm">08:00 PM</option>
                                        <option value="09:00 pm">09:00 PM</option>
                                        <option value="10:00 pm">10:00 PM</option>
                                        <option value="11:00 pm">11:00 PM</option>
                                    </select>
                                </div>
                                <div>
                                    <h3>How long do you need your cleaner to stay?</h3>
                                    <select name="number-of-bath" id="totalHRS">
                                        <option value="3">3.0 Hrs</option>
                                        <option value="4">4.0 Hrs</option>
                                        <option value="5">5.0 Hrs</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <h3>Extra Services</h3>
                            <div class="service-wrapper-bs">

                                <div class="box-one">
                                    <input type="checkbox" class="ch" id="ch1" name="extraService" value="Inside cabinet" onclick="checkbox()">
                                    <label for="ch1" onclick="changePic(0)">
                                        <div class="circle-image">
                                            <img src="images/3.png" name="picture0">
                                        </div>
                                        <h6>Inside cabinet</h6>
                                    </label>
                                </div>
                                <div class="box-one">
                                    <input type="checkbox" class="ch" id="ch2" name="extraService" value="Inside fridge" onclick="checkbox()">
                                    <label for="ch2" onclick="changePic(1)">
                                        <div class="circle-image">
                                            <img src="images/5.png" name="picture1">
                                        </div>
                                        <h6>Inside fridge</h6>
                                    </label>
                                </div>
                                <div class="box-one">
                                    <input type="checkbox" class="ch" id="ch3" name="extraService" value="Inside oven" onclick="checkbox()">
                                    <label for="ch3" onclick="changePic(2)">
                                        <div class="circle-image">
                                            <img src="images/4.png" name="picture2">
                                        </div>
                                        <h6>Inside oven</h6>
                                    </label>
                                </div>
                                <div class="box-one">
                                    <input type="checkbox" class="ch" id="ch4" name="extraService" value="Laundry wash & dry" onclick="checkbox()">
                                    <label for="ch4" onclick="changePic(3)">
                                        <div class="circle-image">
                                            <img src="images/2.png" name="picture3">
                                        </div>
                                        <h6>Laundry wash & dry</h6>
                                    </label>
                                </div>
                                <div class="box-one">
                                    <input type="checkbox" class="ch" id="ch5" name="extraService" value="Interior windows" onclick="checkbox()">
                                    <label for="ch5" onclick="changePic(4)">
                                        <div class="circle-image">
                                            <img src="images/1.png" name="picture4">
                                        </div>
                                        <h6>Interior windows</h6>
                                    </label>
                                </div>
                            </div>
                            <hr>
                            <h3>Comments</h3>
                            <textarea cols="30" rows="5" id="comments"></textarea>
                            <input type="checkbox" id="pets" name="pets"><label for="pets">I have pets at home</label>
                            <hr>
                            <div class="button-right">
                                @{
                                    var email = Context.Session.GetString("UserEmail");
                                }
                                <button onclick="opendetails('@email')">Continue</button>
                            </div>
                        </div>

                        <div class="detail tabcontent" id="details">
                            <h3>Enter your contact details, so we can serve you in better way!</h3>
                            <div id="address-container-id">
                                <div class="address-container">
                                    <div class="flex-display">
                                        <input type="radio" name="add" id="radio1">
                                        <label for="radio1">
                                            <div class="right-content">
                                                <p><b>Address :</b> street 2 40, Troisdorf 53844</p>
                                                <p><b>Phone Number :</b> 9988556644</p>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="address-container">
                                    <div class="flex-display">
                                        <input type="radio" name="add" id="radio1">
                                        <label for="radio1">
                                            <div class="right-content">
                                                <p><b>Address :</b> street 2 40, Troisdorf 53844</p>
                                                <p><b>Phone Number :</b> 9988556644</p>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="new-address" id="newaddress">
                                <div class="flex-child">
                                    <label>Street Name</label>
                                    <input type="text" name="" id="add1" placeholder="Street Name">
                                </div>
                                <div class="flex-child">
                                    <label>House Number</label>
                                    <input type="text" name="" id="add2" placeholder="House Number">
                                </div>
                                <div class="flex-child">
                                    <label>Postal Code</label>
                                    <input type="text" name="" id="pscode" placeholder="Postal Code" disabled>
                                </div>
                                <div class="flex-child">
                                    <label>City</label>
                                    <select name="" id="city">
                                        <option value="Troisdrof">Troisdrof</option>
                                    </select>
                                </div>
                                <div class="flex-child">
                                    <label>Phone Number</label>
                                    <div class="number-container">
                                        <select id="">
                                            <option value="+49">+49</option>
                                            <option value="+49">+49</option>
                                            <option value="+49">+49</option>
                                        </select>
                                        <input id="number" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="flex-child-1">
                                    <button id="submit" onclick="saveAddress()">Save</button>
                                    <button id="cancel" onclick="add('removediv')">Cancel</button>
                                </div>
                            </div>

                            <button onclick="add('addbutton')" id="addaddress"><i class="fas fa-plus"></i>Add New Address</button><br>
                            <input type="checkbox" class="mt-20" id="invoice"><label for="invoice">Send invoice on this address</label>
                            <div class="invoice-address" id="newaddress">
                                <div class="flex-child">
                                    <label>Street Name</label>
                                    <input type="text" placeholder="Street Name">
                                </div>
                                <div class="flex-child">
                                    <label>House Number</label>
                                    <input type="text" placeholder="Street Name">
                                </div>
                                <div class="flex-child">
                                    <label>Postal Code</label>
                                    <input type="text" placeholder="Street Name">
                                </div>
                                <div class="flex-child">
                                    <label>City</label>
                                    <select name="">
                                        <option value="Troisdrof">Troisdrof</option>
                                    </select>
                                </div>
                                <div class="flex-child-1">
                                    <button id="submit">Save</button>
                                </div>
                            </div>
                            <hr>
                            <div class="fav-pro-container">
                                <h3>Your Favorite Service Providers</h3>
                                <hr>
                                <p>You can choose your favorite service providers from the below list</p>
                                <div class="fav-pro-card-container" id="FavoriteProContainer">
                                    <div class="fav-pro-card">
                                        <input type="radio" name="radioForFav" id="radio00">

                                        <img src="images/avatar.png" alt="" class="fav-pro-img">
                                        <p>Sandeep Patel</p>
                                        <label for="radio00" class="radioLabel">Select</label>
                                    </div>
                                    <div class="fav-pro-card">
                                        <input type="radio" name="radioForFav" id="radio11">

                                        <img src="images/avatar.png" alt="" class="fav-pro-img">
                                        <p>Sandeep Patel</p>
                                        <label for="radio11" class="radioLabel">Select</label>
                                    </div>
                                    <div class="fav-pro-card">
                                        <input type="radio" name="radioForFav" id="radio22">

                                        <img src="images/avatar.png" alt="" class="fav-pro-img">
                                        <p>Sandeep Patel</p>
                                        <label for="radio22" class="radioLabel">Select</label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="button-right">
                                <button onclick="openpayment()">Continue</button>
                            </div>

                        </div>

                        <div class="payment tabcontent" id="payment">
                            <h3>Pay securely with Helperland payment gateway!</h3>
                            <label>Promo code (optional)</label>
                            <div class="flex-promo">
                                <input type="text" name="" placeholder="Promo code (optional)">
                                <button>Apply</button>
                            </div>
                            <hr>
                            <p>Payment Card</p>
                            <hr>
                            <input type="checkbox" name="" id="check-term">
                            <label for="check-term">I accepted terms and conditions, the cancellation policy and the privacy policy. I confirm that Helperland starts to execute the contract before the expiry of the withdrawal period and I lose my right of withdrawal as a consumer with full performance of the contract.</label>
                            <hr>
                            <div class="button-right">
                                <button onclick="bookingDone()">Complete Booking</button>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="right-bs">
                    <div class="box-shadow">
                        <div class="heading">
                            <h3>Payment Summary</h3>
                        </div>
                        <div class="content-box">
                            <p><span id="dateDisplay">01/01/2018</span> <span id="timeDisplay">2:00 pm</span></p>
                            <p><span id="bedDisplay">1 bed</span>, <span id="bathDisplay">1 bathroom</span></p>
                            <br>
                            <h3>Duration</h3>
                            <div class="flex-box">
                                <div class="flex-left-text">
                                    <p>Basic</p>
                                    <ul id="extralist">
                                        
                                    </ul>
                                    
                                </div>
                                <div class="flex-right-text">
                                    <p><span id="basicTime">3</span> Hrs</p>
                                    <ul id="extralistMin">
                                        
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div class="flex-box">
                                <div class="flex-left-text">
                                    <p class="bold">Total Service Time</p>
                                </div>
                                <div class="flex-right-text">
                                    <p class="bold"><span id="totaltimeDisplay">3</span> Hrs</p>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-group">
                        <div class="content-box">
                            <div class="flex-box">
                                <div class="flex-left-text">
                                    <p>Per cleaning</p>
                                    <p>Discount</p>
                                </div>
                                <div class="flex-right-text">
                                    <p class="bold">$<span id="perClean">6102</span></p>
                                    <p class="bold">-$<span id="discount">1220</span></p>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-group">
                        <div class="content-box">
                            <div class="flex-box">
                                <div class="flex-left-text">
                                    <p class="total">Total Payment</p>
                                    <p>Effective Price</p>
                                </div>
                                <div class="flex-right-text">
                                    <p class="bold-total">$<span id="totalPayment">6102</span></p>
                                    <p class="bold">$<span id="effectivePrice">4880</span></p>
                                </div>
                            </div>
                            <button id="myBtn" onclick="popupFuction()">
                                <span class="red-text"><span class="popup"><span class="red-text">*</span>You will save 20% according to §35a EStG.</span>
                            </button>
                        </div>
                        <button id="myBtn1" onclick="popupFuction()">
                            <div class="box-gray">
                                <img src="images/smiley.png" alt=""> See what is always included
                            </div>
                        </button>
                    </div>
                    <div class="flex-box-1">
                        <div class="boxheader">
                            <h2>Questions?</h2>
                        </div>
                        <div class="questions">
                            <button class="bookservice-accordion"><span>What is included?</span></button>
                            <div class="panel">
                                <p>
                                    Bedroom, Living Room & Common Areas,Bathrooms,Kitchen,Extras
                                </p>
                            </div>
                        </div>
                        <div class="questions">
                            <button class="bookservice-accordion"><span>Which Helperland professional will come to my place?</span></button>
                            <div class="panel">
                                <p>
                                    Helperland has a vast network of experienced, top-rated cleaners. Based on the time and date of your request, we work to assign the best professional available.Like working with a specific pro? Add them to your Pro
                                    Team from the mobile app and they'll be requested first for all future bookings.You will receive an email with details about your professional prior to your appointment.
                                </p>
                            </div>
                        </div>
                        <div class="questions">
                            <button class="bookservice-accordion"><span>Can i skip or reschedule bookings?</span></button>
                            <div class="panel">
                                <p>
                                    You can reschedule any booking for free at least 24 hours in advance of the scheduled start time. If you need to skip a booking within the minimum commitment, we’ll credit the value of the booking to your account. You
                                    can use this credit on future cleanings and other Helperland services.
                                </p>
                            </div>
                        </div>
                        <a href="faq.html">For more help</a>
                    </div>

                </div>
            </div>
        </div>


        <div class="newsletter center-news">
            <div class="newsletter-form center-news">
                <h3>GET OUR NEWSLETTER</h3>
                <div class="form">
                    <form>
                        <input type="email" name="email" placeholder="Email">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>

    </div>

    </div>
</section>

<footer class="footer">
    <div class="footer-one">
        <div class="container">
            <div class="footer-before">
                <a class="logo" asp-controller="index">
                    <img src="images/logo.png">
                </a>
                <div class="footer-navbar">
                    <ul id="footer-nav">
                        <li><a asp-controller="index">home</a></li>
                        <li><a asp-controller="about">about</a></li>
                        <li><a href="#">testimonial</a></li>
                        <li><a asp-controller="faq">faq</a></li>
                        <li><a href="#">insurance policy</a></li>
                        <li><a href="#">impressum</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <ul class="socail-media">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <hr style="width:90%;text-align:center;border: 0.5px solid #424242;">
        <div class="copright">
            <div class="footer-copyright">
                <h6 style="text-align: center;">©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</h6>
            </div>
        </div>
    </div>

</footer>



<script>
    var acc = document.getElementsByClassName("bookservice-accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("bookService-active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/tab.js"></script>
<script src="js/checkboxjs.js"></script>
<script src="js/popupmodel.js"></script>
<script>
    function openTab(evt, cityName) {


        if (cityName === "setup") {
            changePic(5);
        } else if (cityName === "plan") {
            changePic(6);
        } else if (cityName === "details") {
            changePic(7);
        } else {
            changePic(8);
        }

        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" bookService-active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " bookService-active";
    }
    //document.getElementById("defaultOpen").click();
</script>

<script>
    // $(document).ready(function() {
    //     $(".toggle").click(function() {
    //         $("#mynav").toggle();
    //     });
    // });

    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("header");
    var sticky = "150";

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

    function openMenu() {
        var popupLi = document.querySelector(".navbar");
        var menuButton = document.querySelector(".toggle");
        // popupLi.classList.toggle("show-menu");
        var visibility = popupLi.getAttribute("data-visible");
        if (visibility === "false") {
            popupLi.setAttribute("data-visible", true);
            menuButton.setAttribute("aria-expanded", true);
            var body = document.getElementById('home');
            body.classList.add("back");
        } else if (visibility === "true") {
            popupLi.setAttribute("data-visible", false);
            menuButton.setAttribute("aria-expanded", false);
            var body = document.getElementById('home');
            body.classList.remove("back");
        }
    }
</script>
