@{
    ViewData["Title"] = "HomePage";
}

@using Microsoft.AspNetCore.Http;
@if (!String.IsNullOrEmpty(@ViewBag.Message))
{
    <script>
        hideLoader();
       showMsg("@ViewBag.Message");
    </script>
}
<script>
    function closePopupMessage() {
        var container = document.getElementById("popupMessage");
        container.style.display = "none!important";
    }
    function openMsg(msg) {
        var container = document.getElementById("popupMessage");
        container.style.display = "flex!important";
        var text = document.getElementById("msgPopup");
        text.innerHTML = msg;
    }
</script>
<div class="header-back">
    <div id="home"></div>
    <header class="header">
        <div class="container-fluid">
            <div class="header-contain" id="header">
                <a class="logo" asp-controller="index">
                    <img src="images/logo.png">
                </a>
                <div class="toggle" onclick="openMenu()" aria-expanded="false" id="buttonMenu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>

                <div class="navbar" id="mynav" data-visible="false">
                    <ul id="header-nav">
                        @if (@Context.Session.GetString("UserEmail") == null)
                        {
                            <li><a asp-controller="bookservice" class="Button">Book a Cleaner</a></li>
                        }
                        @if (@Context.Session.GetString("UserType") == "3")
                        {
                            <li><a asp-controller="bookservice" class="Button">Book a Cleaner</a></li>
                        }
                        <li><a asp-controller="price">Prices</a></li>
                        <li><a href="#">Our Guarantee</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a asp-controller="contact">Contact us</a></li>
                        @if (@Context.Session.GetString("UserEmail") == null)
                        {
                            <li><a asp-action="Login" class="Button">Login</a></li>
                            <li><a asp-controller="spsignup" class="Button">Become a helper</a></li>
                        }
                        else
                        {
                            <a><i class="fa fa-bell"></i><span class="icon-button__badge">2</span></a>
                            <a onclick="openM()"><i class="far fa-user-circle"></i><i class="fas fa-angle-down"></i></a>
                        }

                        <!-- <li class="flag">
        <a href="#" class="flag-icon"><img src="images/flag.png">
            <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
    </li> -->

                    </ul>
                    <li class="media-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="media-li"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </div>
            </div>
        </div>
    </header>
    <div class="openMenu" id="openMenu">
        <ul>
            <li>
                <p>Welcome,</p>
                <p><span>@Context.Session.GetString("UserFirstName") @Context.Session.GetString("UserLastName")</span></p>
            </li>
            <hr>
            <li>
                @if (@Context.Session.GetString("UserType") == "1")
                {
                    <a asp-controller="adminDashboard">My Dashboard</a>
                }
                @if (@Context.Session.GetString("UserType") == "2")
                {
                    <a asp-controller="spDashboard">My Dashboard</a>
                }
                @if (@Context.Session.GetString("UserType") == "3")
                {
                    <a asp-controller="customerDashboard">My Dashboard</a>
                }

            </li>
            @if (@Context.Session.GetString("UserType") != "1")
            {
                <li>
                    @if (@Context.Session.GetString("UserType") == "2")
                    {
                        <a asp-controller="spDashboard" asp-action="setting">My Settings</a>
                    }
                    @if (@Context.Session.GetString("UserType") == "3")
                    {
                        <a asp-controller="customerDashboard" asp-action="setting">My Settings</a>
                    }
                </li>
            }
            <li><a asp-action="logout">Logout</a></li>
        </ul>
    </div>
    <section class="header-banner">
        <div class="container">
            <div class="main-banner">
                <div class="lorem-text">
                    <h2 class="page-title">Lorem ipsum text</h2>
                    <ul id="banner-list">
                        <li class="link-list">
                            <a href="#">
                                <span class="icon"><i class="fa fa-check" aria-hidden="true" class="icon"></i></span> Lorem ipsum dolor sit amet, consectetur adipiscing
                            </a>
                        </li>
                        <li class="link-list">
                            <a href="#">
                                <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span> Lorem ipsum dolor sit amet, consectetur adipiscing
                            </a>
                        </li>
                        <li class="link-list">
                            <a href="#">
                                <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span> Lorem ipsum dolor sit amet, consectetur adipiscing
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="banner-btn">
                    @if (@Context.Session.GetString("UserType") == null)
                    {
                        <a asp-controller="bookservice">Let's Book a Cleaner</a>
                    }
                    @if (@Context.Session.GetString("UserType") == "3")
                    {
                        <a asp-controller="bookservice">Let's Book a Cleaner</a>
                    }
                    @if (@Context.Session.GetString("UserType") == "1")
                    {
                        <a asp-controller="adminDashboard">Go to Dashboard</a>
                    }
                    @if (@Context.Session.GetString("UserType") == "2")
                    {
                        <a asp-controller="spDashboard">Go to Dashboard</a>
                    }
                </div>

                <div class="images-sec">
                    <div class="image-box animated fadeInUp go">
                        <img src="images/forma-1-copy.png">
                        <p class="paragraph">Enter your postcode</p>
                    </div>
                    <div class="image-box rotate animated fadeInUp go">
                        <img src="images/step-arrow-1.png">
                    </div>
                    <div class="image-box animated fadeInUp go">
                        <img src="images/forma-1-copy.png">
                        <p class="paragraph">Enter your postcode</p>
                    </div>
                    <div class="image-box rotate animated fadeInUp go">
                        <img src="images/step-arrow-1-copy.png">
                    </div>
                    <div class="image-box animated fadeInUp go">
                        <img src="images/forma-1-copy.png">
                        <p class="paragraph">Enter your postcode</p>
                    </div>
                    <div class="image-box rotate animated fadeInUp go">
                        <img src="images/step-arrow-1.png">
                    </div>
                    <div class="image-box animated fadeInUp go">
                        <img src="images/forma-1-copy.png">
                        <p class="paragraph">Enter your postcode</p>
                    </div>
                </div>



                <div class="page-down">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="about">
    <div class="container">
        <div class="about-us">
            <div class="about-content">
                <h2 class="page-title">Why Helperland</h2>
            </div>
            <div class="about-feature">
                <div class="about-box animated fadeInUp go">
                    <div class="zoom"><img src="images/group-21.png"></div>
                    <h3 class="sub-title">Friendly & Certified Helpers</h3>
                    <p class="paragraph">
                        We want you to be completely satisfied with our service and feel comfortable at home. In order to guarantee this, our helpers go through a test procedure. Only when the cleaners meet our high standards, they may call themselves Helper.
                    </p>
                </div>
                <div class="about-box animated fadeInUp go">
                    <div class="zoom"><img src="images/group-23.png"></div>
                    <h3 class="sub-title">Transparent and secure payment</h3>
                    <p class="paragraph">
                        We have transparent prices, you do not have to scratch money or money on the sideboard Leave it: Pay your helper easily and securely via the online payment method. You will also receive an invoice for each completed cleaning.
                    </p>
                </div>
                <div class="about-box animated fadeInUp go">
                    <div class="zoom"><img src="images/group-24.png"></div>
                    <h3 class="sub-title">We're here for you</h3>
                    <p class="paragraph">
                        You have a question or need assistance with the booking process? Our customer service is happy to help and advise you. How you can reach us you will find out when you look under "Contact". We look forward to hearing from you or reading.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="consectetur">
    <div class="flexcontainer">
        <div class="flexleftItem">

        </div>
        <div class="flexmiddleContent">
            <div class="consectetur-content-new">
                <div class="left-text animated bounceInRight go">
                    <h3 class="sub-title">We do not know what makes you happy, but ...</h3>
                    <p class="paragraph">
                        If it's not dusting off, our friendly helpers will free you from this burden - do not worry anymore about spending valuable time doing housework, but savor life, you're well worth your time with beautiful experiences. Free yourself and enjoy the gained time: Go celebrate, relax, play with your children, meet friends or dare to jump on the bungee.Other leisure ideas and exclusive events can be found in our blog - guaranteed free from dust and cleaning tips!
                    </p>


                </div>
                <div class="right-image">
                    <img src="images/group-36.png" class="animated growIn go">
                </div>
            </div>
            <div class="blog-section">
                <div class="container">
                    <h2 class="page-title">blog</h2>
                    <div class="blog-section">

                        <div class="blog-box animated fadeInUp go">
                            <img src="images/group-28.png">
                            <div class="blog-text">
                                <h3 class="sub-title">Experience & Vetted Professionals</h3>
                                <ul class="blog-meta">
                                    <li>january 28, 2019</li>
                                </ul>
                                <p class="paragraph">
                                    dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.
                                </p>
                                <div class="blog-btn">
                                    <a href="#">
                                        Read the post
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="blog-box animated fadeInUp go">
                            <img src="images/group-28.png">
                            <div class="blog-text">
                                <h3 class="sub-title">Experience & Vetted Professionals</h3>
                                <ul class="blog-meta">
                                    <li>january 28, 2019</li>
                                </ul>
                                <p class="paragraph">
                                    dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.
                                </p>
                                <div class="blog-btn">
                                    <a href="#">
                                        Read the post
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="blog-box animated fadeInUp go">
                            <img src="images/group-28.png">
                            <div class="blog-text">
                                <h3 class="sub-title">Experience & Vetted Professionals</h3>
                                <ul class="blog-meta">
                                    <li>january 28, 2019</li>
                                </ul>
                                <p class="paragraph">
                                    dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.
                                </p>
                                <div class="blog-btn">
                                    <a href="#">
                                        Read the post
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="flexrightItem">

        </div>
    </div>
</section>

<section class="testimonial">
    <div class="container">
        <h2 class="page-title">What Our Customer Says</h2>
        <div class="testimonial-content">

            <div class="client animated fadeInUp go">
                <div class="uper">
                    <div class="client-image">
                        <img src="images/group-31.png">
                    </div>
                    <div class="client-name">
                        <h4>Lary Watson</h4>
                        <p class="paragraph">Manchester</p>
                    </div>
                    <div class="msg-img">
                        <img src="images/message.png">
                    </div>
                </div>

                <div class="bottom">
                    <p class="paragraph">
                        dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.
                    </p>
                    <p class="paragraph">
                        dominate the industry in scale and scope with an adaptable.
                    </p>
                    <div class="blog-btn">
                        <a href="#">
                            Read the post
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="client animated fadeInUp go">
                <div class="uper">
                    <div class="client-image">
                        <img src="images/group-31.png">
                    </div>
                    <div class="client-name">
                        <h4>Lary Watson</h4>
                        <p class="paragraph">Manchester</p>
                    </div>
                    <div class="msg-img">
                        <img src="images/message.png">
                    </div>
                </div>

                <div class="bottom">
                    <p class="paragraph">
                        dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.
                    </p>
                    <p class="paragraph">
                        dominate the industry in scale and scope with an adaptable.
                    </p>
                    <div class="blog-btn">
                        <a href="#">
                            Read the post
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="client animated fadeInUp go">
                <div class="uper">
                    <div class="client-image">
                        <img src="images/group-31.png">
                    </div>
                    <div class="client-name">
                        <h4>Lary Watson</h4>
                        <p class="paragraph">Manchester</p>
                    </div>
                    <div class="msg-img">
                        <img src="images/message.png">
                    </div>
                </div>

                <div class="bottom">
                    <p class="paragraph">
                        dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.
                    </p>
                    <p class="paragraph">
                        dominate the industry in scale and scope with an adaptable.
                    </p>
                    <div class="blog-btn">
                        <a href="#">
                            Read the post
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="newsletter">
            <div class="page-up">
                <a asp-action="index" id="backtotop"><img src="images/forma-1_4@3x.png"></a>
            </div>
            <div class="newsletter-form">
                <h3>GET OUR NEWSLETTER</h3>
                <div class="form">
                    <form>
                        <input type="email" name="email" placeholder="Email">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="conatc-btn">
                <img src="images/layer-598.png">
            </div>
        </div>

    </div>

</section>

<footer class="footer">
    <div class="footer-one">
        <div class="container">
            <div class="footer-before">
                <a class="logo" asp-controller="index">
                    <img src="images/logo.png">
                </a>
                <div class="footer-navbar">
                    <ul id="footer-nav">
                        <li><a asp-controller="index">home</a></li>
                        <li><a asp-controller="about">about</a></li>
                        <li><a href="#">testimonial</a></li>
                        <li><a asp-controller="faq">faq</a></li>
                        <li><a href="#">insurance policy</a></li>
                        <li><a href="#">impressum</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <ul class="socail-media">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-two">
        <div class="container">
            <div class="copright">
                <div class="footer-copyright">
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac malesuada ligula aliquam ac. <a href="#">Privacy Policy</a></h6>
                </div>
                <div class="ok-btn">
                    <a href="#">ok!</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // $(document).ready(function() {
    //     $(".toggle").click(function() {
    //         $("#mynav").toggle();
    //     });
    // });

    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("header");
    var sticky = "60";
    var buttontop = document.getElementById("backtotop");

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            buttontop.classList.add("back-to-top");
        } else {
            header.classList.remove("sticky");
            buttontop.classList.remove("back-to-top");
        }
    }

    function openMenu() {
        var popupLi = document.querySelector(".navbar");
        var menuButton = document.querySelector(".toggle");
        // popupLi.classList.toggle("show-menu");
        var visibility = popupLi.getAttribute("data-visible");
        if (visibility === "false") {
            popupLi.setAttribute("data-visible", true);
            menuButton.setAttribute("aria-expanded", true);
            var body = document.getElementById('home');
            body.classList.add("back");
        } else if (visibility === "true") {
            popupLi.setAttribute("data-visible", false);
            menuButton.setAttribute("aria-expanded", false);
            var body = document.getElementById('home');
            body.classList.remove("back");
        }
    }
</script>
